/*==========================
    About Area 
===========================*/


/*Linea de Tiempo*/

.main,
.container-timeline > header {
	width: 90%;
	max-width: 69em;
	margin: 0 auto;
	padding: 0 1.875em 3.125em 1.875em;
}

.container-timeline > header {
	padding: 2.875em 1.875em 1.875em;
}

.container-timeline > header h1 {
	font-size: 2.125em;
	line-height: 1.3;
	margin: 0 0 0.6em 0;
	float: left;
	font-weight: 400;
}

.container-timeline > header > span {
	display: block;
	position: relative;
	z-index: 9999;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	padding: 0 0 0.6em 0.1em;
}

.container-timeline > header > span span:after {
	width: 30px;
	height: 30px;
	left: -12px;
	font-size: 50%;
	top: -8px;
	font-size: 75%;
	position: relative;
}

.container-timeline > header > span span:hover:before {
	content: attr(data-content);
	text-transform: none;
	text-indent: 0;
	letter-spacing: 0;
	font-weight: 300;
	font-size: 110%;
	padding: 0.8em 1em;
	line-height: 1.2;
	text-align: left;
	left: auto;
	margin-left: 4px;
	position: absolute;
	color: #fff;
	background: #47a3da;
}

.container-timeline > header nav {
	float: right;
	text-align: center;
}

.container-timeline > header nav a {
	display: inline-block;
	position: relative;
	text-align: left;
	width: 2.5em;
	height: 2.5em;
	background: #fff;
	border-radius: 50%;
	margin: 0 0.1em;
	border: 4px solid #47a3da;
}

.container-timeline > header nav a > span {
	display: none;
}

.container-timeline > header nav a:hover:before {
	content: attr(data-info);
	color: #47a3da;
	position: absolute;
	width: 600%;
	top: 120%;
	text-align: right;
	right: 0;
	pointer-events: none;
}

.container-timeline > header nav a:hover {
	background: #47a3da;
}

.bp-icon:after {
	font-family: 'bpicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-align: center;
	color: #47a3da;
	-webkit-font-smoothing: antialiased;
}

.container-timeline > header nav .bp-icon:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	line-height: 2;
	text-indent: 0;
}

.container-timeline > header nav a:hover:after {
	color: #fff;
}

.bp-icon-next:after {
	content: "\e000";
}
.bp-icon-drop:after {
	content: "\e001";
}
.bp-icon-archive:after {
	content: "\e002";
}
.bp-icon-about:after {
	content: "\e003";
}
.bp-icon-prev:after {
	content: "\e004";
}

@media screen and (max-width: 55em) {

	.container > header h1,
	.container > header nav {
		float: none;
	}

	.container > header > span,
	.container > header h1 {
		text-align: center;
	}

	.container > header nav {
		margin: 0 auto;
	}

	.container > header > span {
		text-indent: 30px;
	}
}

.cbp_tmtimeline {
	margin: 30px 0 0 0;
	padding: 0;
	list-style: none;
	position: relative;
} 

/* The line */
.cbp_tmtimeline:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 10px;
	background: #fff;
	left: 20%;
	margin-left: -10px;
}

.cbp_tmtimeline > li {
	position: relative;
}

/* The date/time */
.cbp_tmtimeline > li .cbp_tmtime {
	display: block;
	width: 25%;
	padding-right: 140px;
	position: absolute;
}

.cbp_tmtimeline > li .cbp_tmtime span {
	display: block;
	text-align: right;
}

.cbp_tmtimeline > li .cbp_tmtime span:first-child {
	font-size: 0.9em;
	color: #bdd0db;
}

.cbp_tmtimeline > li .cbp_tmtime span:last-child {
	font-size: 2.9em;
	color: #deba74;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
	color: #f7d38d;
}

/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
	margin: 0 0 15px 25%;
	background: #deba74;
	color: #000;
	padding: 2em;
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.4;
	position: relative;
	border-radius: 5px; 
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
	background: #f7d38d;
}

.cbp_tmtimeline > li .cbp_tmlabel h2 { 
	margin-top: 0px;
	padding: 0 0 10px 0;
	border-bottom: 1px solid rgba(255,255,255,0.4);
}

/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: #deba74;
	border-width: 10px;
	top: 10px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
	border-right-color: #f7d38d;
}

/* The icons */
.cbp_tmtimeline > li .cbp_tmicon {
	width: 40px;
	height: 40px;
	font-family: Font Awesome\ 5 Free;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 1.4em;
	line-height: 40px;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	color: #fff;
	background: #000;
	border-radius: 50%;
	box-shadow: 0 0 0 3px #fff;
	text-align: center;
	left: 20%;
	top: 0;
	margin: 0 0 0 -25px;
	padding: 3px;
}

.cbp_tmicon-phone:before {
	content: "\e000";
}

.cbp_tmicon-screen:before {
	content: "\e001";
}

.cbp_tmicon-mail:before {
	content: "\e002";
}

.cbp_tmicon-earth:before {
	content: "\e003";
}

/* Example Media Queries */
@media screen and (max-width: 65.375em) {

	.cbp_tmtimeline > li .cbp_tmtime span:last-child {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 47.2em) {
	.cbp_tmtimeline:before {
		display: none;
	}

	.cbp_tmtimeline > li .cbp_tmtime {
		width: 100%;
		position: relative;
		padding: 0 0 20px 0;
	}

	.cbp_tmtimeline > li .cbp_tmtime span {
		text-align: left;
	}

	.cbp_tmtimeline > li .cbp_tmlabel {
		margin: 0 0 30px 0;
		padding: 1em;
		font-weight: 400;
		font-size: 95%;
	}

	.cbp_tmtimeline > li .cbp_tmlabel:after {
		right: auto;
		left: 20px;
		border-right-color: transparent;
		border-bottom-color: #f7d38d;
		top: -20px;
	}

	.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
		border-right-color: transparent;
		border-bottom-color: #f7d38d;
	}

	.cbp_tmtimeline > li .cbp_tmicon {
		position: relative;
		float: right;
		left: auto;
		margin: -55px 5px 0 0px;
	}	
} 




.cbp_tmtimeline {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.cbp_tmtimeline li {
    position: relative;
    margin-bottom: 50px;
    padding-left: 40px;
}

.cbp_tmicon {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px; /* Ajusta el tamaño según sea necesario */
    height: 50px;
    border-radius: 50%;
    background-color: #fff; /* Fondo opcional */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Sombra opcional */
}

.cbp_tmicon img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Asegura que la imagen se ajuste correctamente */
    border-radius: 50%; /* Aplica borde redondeado si es necesario */
}

.cbp_tmlabel {
    background: #f9f9f9; /* Fondo opcional */
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); /* Sombra opcional */
}


/*Fin Linea de Tiempo*/



/*Maporita ajustes acerca home*/

.video-home{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Espacio alrededor del video, opcional */
}


.separador-acerca-lg{
    background-image: url('../img/home/separador-acerca-lg.png');
}

.separador-acerca-sm{
    background-image: url('../img/home/separador-acerca-sm.png');
}

.separador-acerca{
    margin: 0 auto;
    background-color: transparent;
    opacity: 1;
    width: 60%;
    border: none;
    height: 16px!important; /* Ajusta el alto de la línea */
    background-size: cover; /* Ajusta esto si necesitas repetir o escalar la imagen */
    background-repeat: no-repeat; /* O usa repeat-x si deseas repetir la imagen horizontalmente */
    background-position: center;
}


.textura-1, .textura-2 {
    background-size: cover; /* Hace que la imagen cubra todo el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    @media #{$sm-layout} {
        background-position: top; // Cambia la posición según la necesidad
    }
}

.textura-2{
    background-image: url('../img/fondos/textura-fondo-2.png') !important;
    }

.textura-1{
    background-image: url('../img/fondos/textura-queso.png') !important;   
    }


.brook-about-area{
    &.bg-shape{
        background-image: url(../img/fondos/textura-queso.jpg);
        background-repeat: no-repeat;
        background-position: bottom 20px left 128px;
    }

}

.about--creative{
    .content{
        .title--creative{
            h3{
                &.heading{
                    color: #ffffff;
                    font-size: 14px;
                    font-weight: 700;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    line-height: 1.43;
                    margin-bottom: 0;
                    word-wrap: break-word;
                    font-family: 'Montserrat', sans-serif; 
                    margin-bottom: 34px;
                }
            }
            h2{
                font-size: 48px;
                line-height: 1.21;
                color: #fff;
                margin-bottom: 47px;
                max-width: 470px;
                font-family: 'Montserrat', sans-serif;
                
                @media #{$md-layout} {
                    font-size: 35px;
                    margin-bottom: 17px;

                }

                @media #{$sm-layout} {
                    font-size: 30px;
                    margin-bottom: 17px;
                }
                span {
                    font-family: 'Playfair Display', serif;
                    font-style: italic;
                    font-weight: 700;
                }
            }
        }
        p{
            font-size: 18px;
            line-height: 1.67;
            color: #ffffff;
            margin-bottom: 45px;
            word-wrap: break-word;
            max-width: 100%;
            font-family: 'Montserrat', sans-serif;
        }
        a{
            &.about-btn{
                background-color: transparent;
                font-weight: 600;
                font-size: 14px;
                color: #fff;
                font-family: $body-font;
                white-space: nowrap;
                line-height: 1.2;
                i {
                    padding-left: 20px;
                    -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
                    transition: all .3s cubic-bezier(.645,.045,.355,1);
                    font-size: 12px;
                }
                &:hover{
                    i {
                        -webkit-transform: translate(5px,-0);
                        -ms-transform: translate(5px,-0);
                        transform: translate(5px,-0);
                    }
                }

            }
        }
    }
}




.about-accordion{
    .thumb{
        img{
            width: 100%;
        }
    }
}

.brook-icon-boxes-area{
    .poss_relative{
        z-index: 2;
    }
}

.about-coronavirus-content{
    // Responsive
    @media #{$md-layout}{
        margin-bottom: 30px;
    }
    @media #{$sm-layout}{
        margin-bottom: 30px;
    }
    h2{
        font-size: 50px;
        line-height: 65px;
        font-weight: 700;
        color: $white;
        margin-bottom: 30px;
        // Responsive
        @media #{$laptop-device}{
            font-size: 40px;
            line-height: 50px;
        }
        @media #{$lg-layout}{
            font-size: 40px;
            line-height: 50px;
        }
        @media #{$md-layout}{
            font-size: 40px;
            line-height: 50px;
        }
        @media #{$sm-layout}{
            font-size: 26px;
            line-height: 34px;
        }
    }
    .sub-title{
        font-size: 24px;
        line-height: 38px;
        font-weight: 300;
        color: $white;
        font-family: $roboto;
        margin-bottom: 30px;
        // Responsive
        @media #{$laptop-device}{
            font-size: 20px;
            line-height: 30px;
        }
        @media #{$lg-layout}{
            font-size: 20px;
            line-height: 30px;
        }
        @media #{$md-layout}{
            font-size: 20px;
            line-height: 30px;
        }
        @media #{$sm-layout}{
            font-size: 18px;
            line-height: 26px;
            margin-bottom: 15px;
        }
    }
    .pragraph{
        font-size: 18px;
        line-height: 34px;
        color: $white;
        font-weight: 400;
        font-family: $roboto;
        margin-bottom: 30px;
        // Responsive
        @media #{$laptop-device}{
            font-size: 16px;
            line-height: 28px;
        }
        @media #{$lg-layout}{
            font-size: 16px;
            line-height: 28px;
        }
        @media #{$md-layout}{
            font-size: 16px;
            line-height: 28px;
        }
        @media #{$sm-layout}{
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 15px;
        }
    }
}

